@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
 
    margin: 0;
    padding: 0;
    color: white;
    background-color: #161616;
    letter-spacing: 3px;
    line-height: 30px;
    font-family: "Press Start 2P", system-ui;
   

}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.buttons {
    position: fixed;
    bottom: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(13, 13, 13);
    border: 2px solid #4CAF50;
    border-radius: 10px;
    z-index: 2;
}

#setplayers,
#buy,
#pay,#main-text {
    display: none;
}


#container {
    max-width: 600px;
    position: absolute;
    display: none;
    top: auto;
    left: 1px;
    z-index: 2;
    margin: 50px auto;
    background-color: #1b1b1b;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.result-text {
    font-size: 10px;
    margin-bottom: 10px;
}

.file-input {
    margin-bottom: 10px;
}

.capture-btn {
    background-color: #4CAF50;
    width: 100%;
    color: white;
    margin-top: 10px;
    border: none;
    padding: 10px 100px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#scanner{
    position: fixed;
    bottom: 10px;
    width: unset;
    padding: 20px 22px;
    border-radius: 100%;
}
#scanner svg{
    fill: white;
    width: 30px;
}
.capture-btn:hover {
    background-color: #45a049;
}

.cancel {
    background-color: red;
}

.cancel:hover {
    background-color: rgb(150, 16, 16);
}
.logo{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.players-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:#161616;
    width: 100vw;
    max-height:85vh;
    overflow-y: scroll;
}
.player:first-of-type{
    margin-top: 150px;
}
.player { 
    z-index: 1;
    height: 200px;
    position: relative;
    margin-top: 20px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

.player1 {
    background-color: rgba(255, 93, 93, 0.426);
    border: 2px solid red;
   
}

.player2 {
    background-color: rgba(93, 150, 255, 0.426);
    border: 2px solid rgb(0, 51, 255);
}

.player3 {
    background-color: rgba(115, 255, 93, 0.426);
    border: 2px solid rgb(0, 255, 21);
}

.player4 {
    background-color: rgba(255, 233, 93, 0.426);
    border: 2px solid rgb(255, 238, 0);
}

.player h1 {
    font-size: 1rem;
    padding-top: 10px;

}

.player h2 {
    font-size: 0.8rem;
    padding-top: 20px;

}

.card-chip {
    height: 40px;
    margin: 30px 30px;
    width: 50px;
}

.card-chip img {
    height: 100%;
    width: 100%;
}

.line {
    height: 30px;
    position: absolute;
    top: 35%;
    z-index: -1;
    width: 100%;
    background-image: linear-gradient(100deg, #ead39a, #dba228);
}