@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
 
    margin: 0;
    padding: 0;
    color: white;
    background-color: #161616;
    letter-spacing: 3px;
    line-height: 30px;
    font-family: "Press Start 2P", system-ui;
   

}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 77vh;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.buttons {
    position: fixed;
    bottom: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(13, 13, 13);
    border: 2px solid #4CAF50;
    border-radius: 10px;
    z-index: 2;
}

.winner{
    position: absolute;
    display: none;
    top: 30%;
    z-index: 2;
    padding: 0 8%;
    width: 500px;
    height: 300px;
    background-color: #2b2a2a;
    border: 2px solid rgb(100, 98, 98);
    border-top: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
}
.playerId1win{
    box-shadow:0 0 100px 10px red;
    
}
.playerId2win{
    box-shadow:0 0 100px 10px rgb(0, 51, 255);
}
.playerId3win{
    box-shadow:0 0 100px 10px rgb(0, 255, 21);
}
.playerId4win{
    box-shadow:0 0 100px 10px rgb(255, 238, 0);
}


#setplayers,
#buy,
#pay,#main-text,#paymoney,#collectmoney,#changelevel,.levelOptions {
    display: none;
}
#decreaselevel{
    background-color: red;
}
.options{
    position: absolute;
    display: none;
    top: 30%;
    z-index: 2;
    padding: 0 8%;
    width: 500px;
    height: 300px;
    background-color: #2b2a2a;
    border: 2px solid rgb(100, 98, 98);
    border-top: none;
    box-shadow:0 0 100px 10px rgb(100, 98, 98);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}


.moneyOptions{
    height: 220px;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 100px;
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding-bottom: 10px;
    background-color: rgb(89 89 89 / 79%);
}
.moneyOptions h1{
    font-size: 1rem;
    width: 300px;
    text-align: center;
}
.moneyOptions button{
    width: 90%;
    height: 50px;
    font-size: 1.5rem;
}
.levelOptions{
    height: 220px;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 100px;
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding-bottom: 10px;
    background-color: rgb(89 89 89 / 79%);
}
.levelOptions button{
    width: 90%;
    height: 50px;
    font-size: 1.5rem;
}
#container {
    max-width: 600px;
    position: absolute;
    display: none;
    top: auto;
    left: 1px;
    z-index: 2;
    margin: 10px auto;
    background-color: #1b1b1b;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.result-text {
    font-size: 10px;
    margin-bottom: 10px;
}

.file-input {
    margin-bottom: 10px;
}

.capture-btn {
    background-color: #4CAF50;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 10px;
    border: none;
    padding: 10px 100px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#scanner{
    position: fixed;
    bottom: 10px;
    width: unset;
    padding: 20px 22px;
    border-radius: 100%;
}
#scanner svg{
    fill: white;
    width: 30px;
}
.capture-btn:hover {
    background-color: #45a049;
}

.cancel {
    background-color: red;
}

.cancel:hover {
    background-color: rgb(150, 16, 16);
}
.logo{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.players-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:#161616;
    width: 98%;
    max-height:95%;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid black;
    border-radius: 10px;

}
.player:first-of-type{
    margin-top: 50px;
}
.player:last-of-type{
    margin-bottom: 50px;
}
.player { 
    z-index: 1;
    height: 200px;
    position: relative;
    margin-top: 20px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}
.dead{
   background-color: #1b1b1b;
  

}

.dead::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(images/skeleton.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.dead::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1b1b1bce;
    border-radius: 10px;
}
.player1 {
    background-color: rgba(255, 93, 93, 0.426);
    border: 2px solid red;
   
}

.player2 {
    background-color: rgba(93, 150, 255, 0.426);
    border: 2px solid rgb(0, 51, 255);
}

.player3 {
    background-color: rgba(115, 255, 93, 0.426);
    border: 2px solid rgb(0, 255, 21);
}

.player4 {
    background-color: rgba(255, 233, 93, 0.426);
    border: 2px solid rgb(255, 238, 0);
}

.player h1 {
    font-size: 1rem;
    padding-top: 10px;

}

.player h2 {
    font-size: 0.8rem;
    padding-top: 20px;

}

.card-chip {
    height: 40px;
    margin: 30px 30px;
    width: 50px;
}

.card-chip img {
    height: 100%;
    width: 100%;
}

.line {
    height: 30px;
    position: absolute;
    top: 35%;
    z-index: -1;
    width: 100%;
    background-image: linear-gradient(100deg, #ead39a, #dba228);
}
@media screen and (max-width:320px) {
    .options{
        top: 0;
        width: 72%;
        border-radius: 0 0 70px 70px ; 
    }
    .winner{
        top: 0;
        font-size: 0.7rem;
        width: 72%;
        border-radius: 0 0 70px 70px ; 
    }
}